# virtual env
venv/
.env

# python cache
__pycache__/
*.pyc

# pytest
.pytest_cache/

# mac
.DS_Store

# vscode
.vscode/

# logs
*.log

# env files
.env.local
.env.development.local
.env.production.local